{% extends "template.html" %}
{% block content %}


<div class="grid-container-home" id="list-page-grid">
    <div class="cell" id="search-bar">
        <form method="GET">
            <label for="name">Abstimmung:</label>
            <input type="text" id="name" name="name">
            <button type="submit">Filter</button>
            <button type="submit">Clear Filter</button>
        </form>
    </div>
    <div class="abstimmung-table">
        {% for row in data %}
            <div class="card" id="abstimmung-item">
                <div class="card-body">
                <h5 class="card-title"> {{ row.Abstimmungsthema }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Abstimmungsausgang</h6>
                <p class="card-text">Beschreibung von Abstimmung.</p>
                <a href="#" class="card-link">Abstimmungsüberblick</a>
                </div>
            </div>
            {% endfor %}
    </div>

    
</div>

{% endblock %}